doctype html
html
    head
        title Web Overview

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        
        link(rel="stylesheet", href="/admin/css/style.css")
    body
    
        include ../partials/header.pug

        .body
             .main 
              include ../partials/sider.pug
              block main
        
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js")

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")

    script(src="/admin/js/script.js")

    