mixin filter-status(filterStatus)
    each item in filterStatus
        button(
            class=`btn btn-outline-success margin ${item.class == 'active' ? 'active' : ''}` 
            button-status=item.status
        ) #{item.name}