extends ../../layouts/default.pug

block main
    h1.db Web Overview
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
        tbody
            tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
            tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter 